@import "../../styles/variables";
.btn {
  background-color: $c-button;
  padding: 5px 15px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: $c-button-text;
  font-weight: bold;

  &:hover {
    background-color: darken($c-button, 5%);
  }
}
