@import "../../styles/variables";

.table {
  &__header {
    display: flex;
    padding-bottom: 5px;
    color: $c-table-header-background;
    border-bottom: 1px solid $c-table-bottom;
  }

  &__th, &__td {
    width: 100%;
  }

  &__tr {
    display: flex;
    padding: 5px 0;
    border-bottom: 1px solid $c-table-bottom;
  }
}